{% extends 'layout.html' %} {% block content %}
<h1>About</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae quisquam nihil
  similique omnis laborum, quis fugiat non facilis repellat ut! Debitis itaque
  sint dolores labore cupiditate deleniti odit ipsam rerum.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae quisquam nihil
  similique omnis laborum, quis fugiat non facilis repellat ut! Debitis itaque
  sint dolores labore cupiditate deleniti odit ipsam rerum.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae quisquam nihil
  similique omnis laborum, quis fugiat non facilis repellat ut! Debitis itaque
  sint dolores labore cupiditate deleniti odit ipsam rerum.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae quisquam nihil
  similique omnis laborum, quis fugiat non facilis repellat ut! Debitis itaque
  sint dolores labore cupiditate deleniti odit ipsam rerum.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae quisquam nihil
  similique omnis laborum, quis fugiat non facilis repellat ut! Debitis itaque
  sint dolores labore cupiditate deleniti odit ipsam rerum.
</p>
{% endblock %}
